#calc-display{
    display: flex;
    justify-content: center;
}
#calc-main{
    display: flex;
    justify-content: center;
}

#settings{
    display: flex;
    justify-content: end;
}

#num-buttons{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}
.num-btn{
    width: 100px;
    height: 70px;
}
#operator-buttons{
    display: flex;
    flex-direction: column;
}
.op-btn{
    width: 100px;
    height: 70px;
}